<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imaegoo.cloudnative2023.mapper.LowcodeUserMapper">
    <!-- application.yml中type-aliases-package:未配置则需要用全名-->
    <select id="queryByUsername" resultType="com.imaegoo.cloudnative2023.entity.LowcodeUser">
        SELECT *
        FROM lowcode_users
        where username = #{username}
    </select>

    <insert id="insert" parameterType="com.imaegoo.cloudnative2023.entity.LowcodeUser">
        insert into lowcode_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=NUMERIC},
            </if>
            <if test="username != null and username != ''">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null ">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                #{isDeleted,jdbcType=NUMERIC},
            </if>
        </trim>
    </insert>
</mapper>